@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");

:root {
  --primary-clr: rgba(228, 228, 229, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: url(Photo/Background.jpg);
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  animation: slidein 45s forwards infinite alternate;
}

@keyframes slidein {
  0%,
  100% {
    background-position: 20% 0%;
    background-size: 3400px;
  }
  50% {
    background-position: 100% 0%;
    background-size: 2400px;
  }
}

.music-player {
  display: flex;
  flex-direction: column;
  color: var(--primary-clr);
  width: 380px;
  padding: 10px 30px;
  border-radius: 20px;
}

.music-player h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6;
}

.music-player p {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.6;
}

.lp {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.handle {
  padding-top: 5px;
  left: 0;
  z-index: 3;
  width: 80px;
  margin-right: 0; 
  cursor: pointer;
}

#progress {
  appearance: none;
  width: 100%; 
  height: 7px;
  background: rgb(4, 14, 82, 0.863);
  border-radius: 4px;
  margin: 32px 0 24px;
  cursor: pointer;
  z-index: 2;
  padding-left: 30px;
  box-shadow: 0 0 10px 2px rgba(0, 195, 255, 0);
  transition: box-shadow 0.3s ease;
}

#progress::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background: rgba(0, 195, 255, 0);
  width: 0.2px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  outline: 0px solid rgb(0, 0, 0);
  box-shadow: 1px 100px 10px rgb(2, 209, 255);
}

#progress::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: currentColor;
  box-shadow: 0 0 10px 2px currentColor;
  border-radius: 4px;
  pointer-events: none;
  z-index: -1;
  transition: width 0.3s ease;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  aspect-ratio: 1/1;
  margin: 13px;
  background: rgba(163, 162, 164, 0.3);
  color: var(--primary-clr);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: 0;
  font-size: 1.0rem;
  box-shadow: 0 10px 20px rgba(5, 36, 28, 0.3);
  cursor: pointer;
  transition: all 0.3s linear;
}

.controls button:hover,
.controls button:focus-visible {
  transform: scale(0.96);
}

.controls button:nth-child(2) {
  transform: scale(1.3);
}

.controls button:nth-child(2):hover,
.controls button:nth-child(2):focus-visible {
  transform: scale(1.25);
}

.controls button:active {
  background: blue;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-left: 40px;
}

.volume-control i {
  font-size: 1.2rem;
  color: var(--primary-clr);
}

.volume-control input[type="range"] {
  -webkit-appearance: none;
  width: 150px;
  height: 5px;
  background: rgba(134, 2, 167, 0.4);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary-clr);
  border-radius: 50%;
  cursor: pointer;
}

.volume-control input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--primary-clr);
  border-radius: 50%;
  cursor: pointer;
}

.volume-control input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--primary-clr);
  border-radius: 50%;
  cursor: pointer;
}

.visualizer {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
  background: rgba(15, 0, 0, 0);
}

#visualizer-left {
  left: 0;
}

#visualizer-right {
  right: 0;
}

.logo {
  height: 100px;
  align-self: flex-start;
  padding-left: 650px;
  margin-bottom: 50px;
}

.song-sequence {
  max-height: 250px;
  overflow-y: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.532);
  box-sizing: border-box;
}

.song-sequence ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  cursor: pointer;
}

.song-sequence ul li {
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0.8;
}

.song-sequence ul li.current-song {
  font-weight: bold;
  color: #0ba4eb;
  opacity: 1;
}

.song-sequence::-webkit-scrollbar {
  width: 5px;
}

.song-sequence::-webkit-scrollbar-thumb {
  background-color: #898f92;
  border-radius: 5px;
}

.song-info {
  display: flex;
  align-items: center;
}

#album-image {
  width: 60px;
  height: 60px;
  margin-right: 15px;
<<<<<<< HEAD
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
}
#blac{
  background-color: black;
  width: 20px;
  height: 20px;
  
}
=======
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}

>>>>>>> f56d3138c1e7fda65f89761ed81a31e728c0ae67
#album-image.rotating {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
